/**
  * toggle-all and label styles copied from a different version of todomvc-app-css/index.css
  * because toggle all checkbox is not visible without them
  */
.toggle-all {
  width: 60px;
  height: 34px;
  font-size: 0;
  position: absolute;
  top: -52px;
  left: -13px;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

label[for="toggle-all"] {
  pointer-events: none;
}

.edit-todo-overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}
